@font-face {
  font-family: "Norse";
  src: url("static/fonts/Norse.otf") format("opentype");
  font-weight: normal;
  font-style: 300;
}

@font-face {
  font-family: "Norse";
  src: url("static/fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: 700;
}

@font-face {
  font-family: "Bebas";
  src: url("static/fonts/Bebas-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: 300;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

body {
  min-height: 100vh;
  display: flex;
}

:root {
  --accent-color: #596d48;
  --page-background-color: #f9fafb;
  --form-background-color: #ffffff;
  --small-print-text-color: #dfdede;
  --sidebar-banner-background: rgba(0, 0, 0, 0.7);
}

.sidebar {
  background-image: url("static/nature.jpg");
  color: var(--form-background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar__banner {
  background: var(--sidebar-banner-background);
  margin-top: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__banner__logo {
  max-width: 200px;
  height: auto;
}

.sidebar__banner__text {
  font-size: 150px;
  font-family: Norse;
}

.sidebar__footer {
  text-align: center;
  color: var(--small-print-text-color);
  margin-bottom: 10px;
}

.content {
  background-color: var(--page-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Bebas;
  gap: 90px;
}

.content__header {
  padding: 0px 50px;
  margin-bottom: -5%;
}

.content__header__text {
  font-size: 40px;
}

.content__header__text:first-of-type {
  margin-bottom: 40px;
}

.content__body {
  padding: 20px 50px;
  background-color: var(--form-background-color);
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.41);
}

.content__body__text {
  font-size: 25px;
  padding-bottom: 20px;
}

.content__body__form {
  position: relative;
}

.form-input-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 40px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 40%, 45%);
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--form-background-color);
  font-size: 22px;
  line-height: 22px;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.27);
}

.submit-button:hover {
  background: #5a6f49;
}

.submit-button:active {
  background: #4a5b3c;
}

.content__footer__text a {
  color: var(--accent-color);
  text-decoration: none;
}

.button-pair {
  position: absolute;
  top: calc(100% + 50px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}